site_name: Technolitrix.de
repo_url: https://github.com/Technolitix



theme:
  name: material
  custom_dir: overrides
  favicon: images/favicon.ico
  language: en
  icon:
    logo:  material/integrated-circuit-chip
  features:
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - header.autohide
    - announce.dismiss
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - content.code.copy
    - content.code.select
  

  plugins:
    - typeset
    - search

  palette:

    # Palette toggle for automatic modee
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mod
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

markdown_extensions:
    - admonition
    - pymdownx.details
    - pymdownx.superfences
    - attr_list
    - md_in_html
    - pymdownx.blocks.caption
    - pymdownx.inlinehilite
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg
    - toc:
        permalink: true

    - pymdownx.highlight:
        anchor_linenums: true
        line_spans: __span
        pygments_lang_class: true

    - pymdownx.superfences:
        custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_code_format


copyright: Copyright &copy; 2026 Jakob Seitz
extra_css:
  - stylesheets/extra.css
extra:
  generator: false
  social:
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@official_technolitrix
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/official_technolitrix
nav:
  - Home: https://docs.technolitrix.de
  - Knoledge Base:
      - 'Start Here':
        - 'Start Here': index.md
      - 'Soldering':
        - 'Microsoldering': sauna_controller.md
  - Opulo:
      - 'Feeder':
        - 'Drive Wheel Glue Jig': drive-wheel-glue-jig.md
  
  - Part-DB:
      - 'Spotlight Storage':
        - 'Trix Spotlight Storage': trix-spotlight-storage.md