name: ci

on:
  push:
    branches: [master, main]

permissions:
  contents: write

concurrency:
  group: pages-deploy
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Cache MkDocs Material
        uses: actions/cache@v4
        with:
          path: .cache
          key: mkdocs-material-${{ runner.os }}-${{ hashFiles('**/mkdocs.yml') }}
          restore-keys: |
            mkdocs-material-${{ runner.os }}-

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          python -m pip install mkdocs==1.6.0 mkdocs-material
          mkdocs --version

      - name: Build site
        run: mkdocs build

      - name: Add CNAME
        run: echo "docs.technolirix.de" > site/CNAME
      - name: Verify CNAME in build output
        run: |
          ls -la site
          echo "---- CNAME ----"
          cat site/CNAME


      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
